
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .bacground-text {
            position: absolute;
            top: 172px;
            left: 12em;
            color: white;
            width: 726px;

        }
            .nav a:hover{
            font-weight: bolder;
        }
        .search {
            display: flex;
            justify-content: center;
            position: relative;
            top: 82px;


        }

        .search input {
            padding: 10px;
            width: 500px;
            margin-right: 0px;
            border: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .search button {
            padding: 8px;
            width: 130px;
            margin-left: 0;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .pakcages {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .section {
            display: flex;
            position: relative;
            margin: auto;
            width: 150vh;
            justify-content: space-around;
        }

        .mx-6 {
            margin: 0 0 0 35%;
        }

        .day {
            width: 4rem;
            margin: 0 0 0 0.5rem;
        }

        .clients-container {
            height: 100%;
            margin: auto;
        }

        .clients {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-justify: auto;
            width: 25%;
            padding: 2%;
            margin: 1% 1% 1% 1%;
        }

        .contact-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 75px auto 0 auto;
            width: 100%;
            height: 70vh;
            text-justify: distribute;
            color: rgb(168, 0, 0);
            position: relative;

        }

        .contact-container::before {
            content: '';
            position: absolute;
            margin-left: 0;
            background: url('ban2.png') no-repeat center/cover;
            width: 100%;
            height: 100%;
            opacity: 0.6;

        }
        .footer-content ul{
            list-style: none;
        }
        .footer-content ul li a{
            color: white;
            text-decoration: none;
        }
        .footer-content input{
            border: none;
            padding: 5px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .footer-content button{
            border: none;
            padding: 5px 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .contact-container button{
            border: none;
            padding: 5px 10px;
        }