body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    flex-direction: column;
}
.container-fluid img{
    width: 100%;
    height: 100%;
}
.section{
    flex-direction: column;
    width: 100%;
}
.search{
    width: 50%;
    margin: -10rem 0 0 -10rem;
}
.card-deck{
    flex-wrap: wrap;
}
.footer{
    flex-wrap: wrap;
}
.footer-content img{
    width: 50px;
    height: 50px;
}
.footer-content{
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-content .ph{
display: block;
flex-direction: column;
}
.footer-content input{
    width: 100%;
}